<h1>Bonjour, veuillez confirmer votre compte chez Beya Musicothérapie !</h1>

<p>
    Confirmer votre inscription en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon compte</a>.<br>
    Le lien expirera dans 1 heure.
</p>
<p>
    J'ai plus que hâte de vous faire découvrir la musicothérapie !
</p>